#image {

    display: block;
    margin:auto;
    text-align: center;
    padding: 10em 5em 1em;    

}
#list{
    list-style-type: none;
    padding: 1em;
}
.others {
    float: right;
    padding: 1em;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    color:#222;
    text-decoration: none;
    font-size: 13px;
    
    
}

.others:hover{
    text-decoration: underline;
}

#signin {
    float: right;
    border: 1px solid #4285f4;
    background: -webkit-linear-gradient(top,#4387fd,#4683ea);
    white-space: nowrap;
    line-height: 28px;
    border-radius: 2px;
    padding: 0.1em 0.2em;


}

#signintext {
    color: #fff;
    cursor: default;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 13px;
    display: inline-block;
    line-height: 20px;
    padding: 0.3em 1em;
}


input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


#searchbox {
    font-family: Helvetica, sans-serif;
    font-size: 1.5em;
    width: 584px;
    height: 44px;
    border-radius: 2px;
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    border:none;
    padding: 1em;

}

#searchbox:hover {
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
}


button {
    background-color: #f2f2f2;
    height: 36px;
    line-height: 27px;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    cursor: pointer;
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-align: -webkit-center;
    padding:0 1em;

}

button:hover {
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #222;
}

#buttons {
    display: block;
    text-align: -webkit-center;
    height: 36px;
    line-height: 27px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    padding: 1em;

}

#bosluk {
    padding:0 1em;
    display: inline-block;
}

nav.footer{
    position: absolute;
    bottom:0;
    width: 100%;
    margin-left: -27px;
}

#bottoms {
    list-style-type: none;
  
}

.right:hover,.left:hover{
    text-decoration: underline;

}


.right{
    float: right;
    padding:0.8em;
    text-decoration: none;
    color:#222;
}

.left {
    float: left;
    padding:0.8em;
    text-decoration: none;
    color:#222;
}

#blok {
    
    height: 3em;
    width: 100%;
    background-color: f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    text-decoration: none;
    font-size: 13px;
    
}